[submodule "ext/drogon"]
	path = ext/drogon
	url = https://github.com/an-tao/drogon.git
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
[submodule "ext/jsoncpp"]
	path = ext/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
